<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" th:action="@{/user}">
    <div class="form-group">
        <label>Username
            <input type="text" name="username" th:value="${username}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email"  th:value="${email}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input type="password" name="verify" class="form-control">
        </label>
    </div>
    <p th:text="${error}" style="color:red;"></p>


    <div class="form-group">
        <input type="submit" value="Sign Up" class="btn btn-success">
    </div>
</form>

</body>
</html>